<
style type ="text /css">#update-button {
	background-color: #10ac51;
	height: 40px;
	font-size: 15px;
	cursor: pointer;
	width: 30%;
	margin: 10%;
	float: left;
	color: white
}

.text-fiels {
	height: 35px;
	width: 400px;
}

.leftside-buttons {
	height: 35px;
	width: 200px;
}

#view-profile {
	font-weight: 700;
	color: #10ac51;
	font-size: 14px;
	line-height: 1.4em;
	float: middle;
	text-decoration: none;
}

#main-footer {
	background-color: #FFF;
}

#main-footer {
	background-color: #FFF;
	padding-top: 10px;
	padding-bottom: 5px;
}

#main-footer {
	background-color: white;
}

article, aside, footer, header, hgroup, nav, section {
	display: block;
}
</
style
>